<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

    <title>Briggs Go</title>
</head>
<body>

<img src="/static/asset/bg.jpg" id="bg">

<div class="container select">
    <select class="form-select" id="menu">
        <option selected>Home</option>
        <option value="1">FAQ</option>
        <option value="2">About Mbti</option>

    </select>
</div>

<div id="content-isi">
    <div class="container">
        <p class="titleHome title1">MBTI Personality Type Detector</p>
        <h1 class="titleHome brand"><b>BRIGGS GO</b></h1>
        <h5 class="titleHome titleEnd">Know your type here!</h5>

        <p id="labelInp" class="titleHome">Insert your twitter profile link here:</p>

        <div class="container-fluid text-center mx-auto">
            <form action="/answer" method="post">
                <div class="form-group">
                    <input type="text" name="link" class="form-control" id="inpLink">
                </div>
                <button type="submit" class="btn btn-primary btnLink">Submit</button>
            </form>
        </div>
    </div>

    <div class="container-fluid result text-center">
        <h4 class="titleHome"><b>Your result</b></h4>
        <h1 id="personalityLabel"><b>{{ linkku }}</b></h1>
        <p id="desc">ENFP is an acronym that stands for Extraverted, Intuitive, Feeling, and Perceiving. The ENFP personality type is one of the 16 different types identified by the Myers-Briggs Type Indicator (MBTI).  People with an ENFP personality are often described as enthusiastic, charismatic, charming, energetic, and independent. ENFPs are also creative, so they typically do best in situations where they have the freedom to create and innovate.</p>

    </div>
</div>


<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="/static/js/app.js"></script>

</body>
</html>